applescript==2019.3.22
bcrypt==3.1.7
beautifulsoup4==4.7.1
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cmake==3.13.3
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.0
detect==2019.3.22
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.1
django-bootstrap3==11.0.0
django-rest-swagger==2.2.0
djangorestframework==3.9.4
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
geojson==2.4.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
itypes==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.2
only==2019.3.22
openapi-codec==1.3.2
opencv-python==4.0.1.23
Pillow==6.0.0
psutil==5.6.1
public==2019.3.22
pycparser==2.19
pyowm==2.10.0
pytz==2018.9
requests==2.21.0
runcmd==2019.3.22
simplejson==3.16.0
six==1.12.0
soupsieve==1.9
SpeechRecognition==3.8.1
SQLAlchemy==1.3.6
sqlparse==0.3.0
static3==0.7.0
temp==2019.3.24
uritemplate==3.0.0
urllib3==1.24.1
vlc==2019.3.24
Werkzeug==0.15.5
whitenoise==4.1.2
wikipedia==1.4.0
youtube-dl==2019.4.7
